@tailwind base;

/* Write your own custom base styles here */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Inline&family=Montserrat:wght@700;800&display=swap');

.font-bebasneue {
  font-family: 'Bebas Neue';
}
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
.font-bungee {
  font-family: 'Bungee Inline';
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

@screen lg {
  .header-bg-lg {
    min-height: 700px;
  }
}

.menu-btn {
  @apply p-1 rounded-lg cursor-pointer;
}
.active.menu-btn {
  @apply text-white bg-brandPurple;
}
.menu-btn:hover {
  @apply  text-yellow-900 bg-yellow-200;
}

.footer-menu-btn {
  @apply p-1 rounded-lg cursor-pointer;
}
.footer-menu-btn:hover {
  @apply text-white bg-gray-700;
}

/* hover / active actions */
.hover-action .default {
  display: block;
}
.hover-action .active {
  display: none;
}
.hover-action:hover .default {
  display: none;
}
.hover-action:hover .active {
  display: block;
}
.active-action .default {
  display: block;
}
.active-action .active {
  display: none;
}
.active-action.active .default {
  display: none;
}
.active-action.active .active {
  display: block;
}

/* layout */
.with-padding-x {
  @apply px-5 sm:px-7 md:px-12 lg:px-20 2xl:px-32;
}

/* main menu transition */
.transition-opacity-90, .transition-opacity-full, .transition-opacity-none {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.transition-opacity-90 {
  opacity: 0.9;
  visibility: visible;
}
.transition-opacity-full {
  opacity: 1;
  visibility: visible;
}
.transition-opacity-none {
  opacity: 0;
  visibility: hidden;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */